* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-font: "Lexend Deca", sans-serif; 
    --odin-font: "Norse Bold";
    --input-height: 18px;
    --input-width: 300px;
    --input-padding: 9px 5px;
    --input-placeholder-size: 12px;
    --input-color: #2A443C;
    --button-color: #3B5D70;
    
}

@font-face {
    font-family: "Norse Bold";
    src: url("assets/fonts/Norse-Bold.otf");
}

body {
    display: flex;
    background-color: #ecf1f1;
}

.image-container span,
.content-form h1,
.inputs input::placeholder,
.submit-button,
.button-field span {
    font-family: var(--primary-font);
}
.image-container {
    width: 600px;
    height: 950px;
    background-image: url(https://w.wallhaven.cc/full/o3/wallhaven-o35kvp.jpg);
    background-repeat: no-repeat;
    background-size: 350%;
    background-position-x: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.odin-logo{
    width: 165px;
    height: 228px;
    margin-top: 60px;
    cursor: pointer;
}
.image-container span {
    color: #ffffff;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 10px;
}
.image-container  a {
    color: #ffffff;
}
.image-container a:hover {
    color: #588bf8;
}
.content-form {
    margin: 144px 0 0 80px;
    display: flex;
    flex-direction: column;
   /*  gap: 78px; */
}
.content-form h1 {
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: 400;
    color: #0D1C22;
}    
.form {
    display: flex;
    flex-direction: column;
    gap: 78px;
}

.inputs {
    display: flex;
    gap: 60px;
}

.inputs input {
    width: 300px;
    height: 30px;
    background: transparent;
    padding: 9px 5px;
    border-color: transparent;
    border-bottom: 2px solid;
    color: var(--input-color);
}
.inputs input::placeholder {
    color: var(--input-color);
}

.inputs input:focus {
    border-color: var(--input-color);
    border-radius: 5px;
    outline: none;
    
    transition:linear;
    transition-duration: 0.34s;
    
}

input:not(:placeholder-shown):not(:focus):invalid  {
    border-color: red;
    border-radius: 5px;
}    

 input:valid {
    border-color: #2A443C;
}

.button-field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.submit-button {
    width: 230px;
    height: 64px;
    background-color: var(--button-color);
    border-radius: 10px;
    cursor: pointer;
    border: none;

    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
}

.submit-button:hover {
    filter: brightness(0.9);
    transition: 0.3s;
}

.button-field span {
    font-size: 13px;
    color: #0D1C22;
    margin-right: 12px;
    margin-top: 10px;
}
.button-field span > a {
    text-decoration: none;
    color: var(--input-color);
}
.button-field span > a:hover {
    filter: brightness(0.9);
    text-decoration: underline;
}
.footer {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}
.footer span {
    font-family: var(--odin-font);
    font-size: 25px;
}
.footer a {
    text-decoration: none;
    color: #0D1C22
}